.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* average calc */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.purchase {
  width: 45%;
}

.purchase h2 {
  margin-top: 0;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 500px;
}

button {
  width: 35%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #75db1c;
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 100px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0ab399;
}

label, h3{
  display: inline-block
}